<style>
    select {
        padding: 3px 30px;
    }

    textarea {
        font-family: Consolas, monaco, monospace;
    }
</style>

<section class="text-gray-400 bg-gray-900 body-font relative">
    <div class="container px-5 py-12 mx-auto">
        <div class="flex flex-col text-center w-full mb-10">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-white underline">Compile your code here.</h1>
        </div>
        <div class="flex justify-evenly">
            <form action="/compiler" method="post" id="form">
                <div class="flex items-center mb-4">
                    <label for="language">Select Language: </label>
                    <select name="language" id="language" class=" bg-gray-900 border-2 border-gray-400 rounded-lg mx-4">
                        <option value="python3">Python</option>
                        <option value="c">C</option>
                        <option value="cpp">C++</option>
                        <option value="java">Java</option>
                        <option value="nodejs">JavaScript</option>
                        <option value="go">GoLang</option>
                        <option value="php">PHP</option>
                    </select>
                    <div class="p-2 mx-12">
                        <button
                            class="flex text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded"
                            type="submit">Run</button>
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                        <div class="container">
                            <textarea id="content" name="codeBeta"
                                class="w-[500px] bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-blue-500 focus:bg-gray-900 focus:ring-2 focus:ring-blue-900 h-32 text-base outline-none text-gray-100 py-1 resize-none leading-6 transition-colors duration-200 ease-in-out h-[400px] px-8 py-8"
                                spellcheck="false" placeholder="Enter code here..."><%= program %></textarea>
                        </div>
                        <label for="input" class="leading-7 text-sm text-gray-400">Inputs</label>
                        <input type="text" name="input"
                            class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-blue-500 focus:bg-gray-900 focus:ring-2 focus:ring-blue-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out my-2"
                            value=<%=input%>>
                    </div>
                </div>
            </form>
            <div class="w-[450px] px-8">
                <div class="text-3xl font-bold my-2">Output: <br />
                    <p class="text-xl my-10">
                        <%= output %>
                    </p>
                    <% if(output){ %>
                        <div class="text-base px-8">
                            <div>Execution Time: <%= execTime %> ms</div>
                            <div>Memory Used: <%= execMemory %> bits </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
</section>